/* Common */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

@media (max-width: 992px) {
    body {
        padding-top: 65px;
        padding-bottom: 80px;
    }
}

.error-infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.brand {
    padding-top: 3px;
}

img.brand {
    max-width: 130px;
}

.makeAGap {
    height: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: #EEE;
    height: 65px;
}

.footerText {
    margin: 20px 0;
}
/* Contact Us */

#googleMap {
    width: 100%;
    height: 250px;
}

@media (max-width: 992px) {
    #googleMap {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: 250px;
    }
}

/* About Us */

img.doctor {
    max-width: 64px;
    max-height: 64px;
}

.meet-our-team {
    text-align: justify;
}

.doctor-info {
    width: 95%;
    text-align: justify;
}

/* QnA */

.answer {
    padding-bottom: 10px;
    border-bottom: 1px dotted;
}

.answer:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

@media (max-width: 992px) {
    .answer:last-child {
        padding-bottom: 10px;
        border-bottom: 1px dotted;
    }
}

